.home-container{
  text-align: center;
}

.home-container::before{
  content: "";
  width: 100%;
  height: 103rem ;
  background-color: var(--brand-greenlight);
  display: block;

  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
  
}

.home-wrapper {
  width: min(50rem, 100%);
  padding-inline: 2.4rem;
  box-sizing: border-box;
  margin-inline: auto;
}

.home-button {
  color:#fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6rem;
  padding: 1rem 3rem;
  width: fit-content;
  background-color: hsl(145, 100%, 26%) ;
  border-radius: 4rem;
  transition: background 200ms;
}

.home-button:hover {
  background-color: hsl(145, 100%, 14%) ;
}

.home-h4 {
  font-size: 1.4rem;
  color: hsl(145, 100%, 26%);
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.08rem;
}

.home-title{
  font-size: 3.4rem;
  color: hsl(210, 11%, 15%);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

.home-content{
  color: hsl(210, 9%, 31%);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  margin-bottom: 3.2rem;
}

.home-img {
  display: block;
  object-position: 0 1.7rem;
}

.stats{
  width: 90%;
  padding-block: 5rem;
  padding-inline: 4rem;
  
  margin-inline: auto; 
  
  background-color: var(--brand-beige);
  border: 1px solid var(--brand-greenlight);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

  border-radius: .6rem;
}

.stat-title {
  font-size: 3rem;
  color: var(--headline);
  line-height: 130%;

  margin-top: 0;
  margin-bottom: .4rem ;
}

.stat-content {
  color: var(--paragraph); 
  line-height: 150% ;
  font-size: 1.6rem;
}

@media(min-width: 1024px){
  .home-wrapper {
    width: min(112rem, 100%);
    display: grid;
    grid-template-columns: 56rem 1fr;
    grid-template-areas: 
    'A B'
    'C C';
  }

  .home-container::before {
    height: 60rem
  }

  .col-a {
    grid-area: A
  }
  .col-b {
    grid-area: B;
  }

  .home-container .col-a{
    text-align: left;
    align-self: center; 
  }

  .home-button{
    margin: 0;
  }

  .stats{
    width: 100%;
    grid-area: C;
    display: flex;
    flex-direction: row;
    
  }
  .home-img{
    height: 37.2rem;
  }

  .stats .stat{
    flex: 1;
    padding-left: 2rem;
  }
  .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);

  }
}